@font-face {
   font-family: "Helvetica Neue";
   src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"),
      url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Helvetica Neue";
   src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
      url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Helvetica Neue";
   src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
      url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@import "_mixins";

/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import "_null";

body {
   line-height: 1;
   color: #fff;
   background-color: #1a1a1a;
   font-family: "Helvetica Neue";
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
main {
   flex: 1 1;
}
/* ------------------------------ */

// Основной цвет
$main: green;

/* ------------------------------ */
%ibg {
   position: relative;
   img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

[class*="container"] {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 15px;
}
/*=============================================================================*/
.nav {
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
   background-color: rgba(255, 255, 255, 0.479);
   position: fixed;
   width: 100%;
   z-index: 100;
   @media (max-width: 520px) {
      padding: 15px 0;
   }
   &__list {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 520px) {
         justify-content: center;
      }
   }
   &__logo {
      transform: translateY(-5px);
   }
   &__item {
      margin: 0 15px;
      &:nth-child(1) {
         margin: 0 auto 0px 0px;
         display: flex;
         @media (max-width: 520px) {
            justify-content: center;
         }
      }
      @media (max-width: 520px) {
         &:nth-child(1) {
            width: 100%;
         }
      }
   }
   &__item a {
      font-size: 14px;
      font-weight: 700;
      line-height: 6.42;
      letter-spacing: 0px;
      color: #ffffff;
      display: block;
      color: #ffffff;
      transition: 0.3s;
      position: relative;
      @media (max-width: 520px) {
         line-height: 2;
      }
      &:hover {
         color: #34c759;
         transform: scale(1.1);
      }
      &:hover::before {
         width: 100%;
         box-shadow: 1px 1px 10px 2px #34c759;
      }
      &::before {
         transition: all 0.3s ease 0s;
         content: "";
         position: absolute;
         bottom: 35%;
         left: 50%;
         transform: translateX(-50%);
         border-radius: 2px;
         height: 2px;
         width: 0%;
         background-color: #34c759;
      }
   }
}

/*=========================================================*/
.home-page {
   background: url(../img/home-page/background.png) no-repeat;
   background-size: cover;
   &__container {
      padding: 10.1145% 0px 23.7188% 0px;
      @media (max-width: 1100px) {
         padding: 112px 0px 23.7188% 0px;
      }
   }

   &__title {
      font-size: calc(40px + 32 * ((100vw - 320px) / (1440 - 320)));
      line-height: 1.115;
      letter-spacing: 0.1em;
      font-weight: 400;
      text-align: center;
      text-transform: capitalize;
      padding: 0 15px;
      margin: 0px 0px 16px 0px;
      @media (min-width: 1440px) {
         font-size: 72px;
      }
      & span {
         font-weight: 700;
         display: inline-block;
      }
   }

   &__text p {
      padding: 0 35px;
      font-size: 16px;
      font-size: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.625;
      letter-spacing: -0.2px;
      text-align: center;
      color: rgba(255, 255, 255, 0.2);
      max-width: 662px;
      margin: 0 auto 3.604%;
      @media (min-width: 1440px) {
         font-size: 16px;
      }
   }

   &__button {
      text-align: center;
      margin: 0px 0px 6.307% 0px;
   }

   &__link {
      display: inline-block;
      font-size: calc(12px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 700;
      line-height: 1.22;
      letter-spacing: 0.2em;
      text-align: center;
      border: 4px solid rgba(255, 255, 255, 0.5);
      border-radius: 43px;
      padding: 25px 57px;
      color: rgba(255, 255, 255, 0.5);
      transition: 0.3s;
      &:hover {
         border: 4px solid transparent;
         background: #34c759;
         color: #1a1a1a;
         transform: scale(1.02);
         box-shadow: 1px 1px 20px 1px #34c759;
      }
      @media (max-width: 900px) {
         padding: 20px 50px;
      }
      @media (max-width: 800px) {
         padding: 17px 43px;
         border: 3px solid rgba(255, 255, 255, 0.5);
      }
      @media (max-width: 700px) {
         padding: 15px 37px;
      }
      @media (max-width: 600px) {
         padding: 12px 30px;
      }
      @media (max-width: 500px) {
         padding: 10px 28px;
      }
   }

   &__info {
   }
}
.info-contact {
   display: flex;
   margin: 0 -15px;
   flex-wrap: wrap;
   row-gap: 15px;
   @media (max-width: 466px) {
      flex-direction: column;
   }
   &__card {
      flex: 1 1 33.33%;
      padding: 0 15px;
   }
   &__icon {
      margin: 0 auto;
      width: 20px;
      height: 20px;
      @media (max-width: 500px) {
         img {
            width: 15px;
            height: 15px;
         }
      }
   }

   &__text {
      font-size: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.875;
      text-align: center;
      color: #ffffff;
   }

   &__subtext {
      font-size: calc(8px + 6 * ((100vw - 320px) / (1440 - 320)));
      font-style: normal;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0px;
      text-align: center;
   }

   &__link {
      font-size: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.875;
      text-align: center;
      color: #ffffff;
      transition: 0.3s;
      &:hover {
         text-shadow: 0.5px 0.5px 10px #34c759;
         color: #34c759;
      }
   }
}
/*==================================================*/
.basics {
   &__container {
      @media (max-width: 1140px) {
         padding: 0px 0px 0px 0px;
      }
   }
   &__inner {
      background: #252525;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 9.46% 15px 8.15% 15px;
      margin: 0px 0px 8.109% 0px;
   }
}

.slider {
   padding: 0px 0px 20px 0px;
   max-width: 734px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   & input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
   }
   &__images {
      display: flex;
      width: 300%;
      height: 100%;
      max-height: 270px;
      transition: 0.4s;
   }
   &__slide {
      width: 25%;
      height: 100%;
   }
   &__column {
      width: 35px;
      height: 100%;
   }
   &__image {
      width: 100%;
      height: 100%;
      border-radius: 5px;
   }
   &__navigation {
      display: flex;
      column-gap: 10px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
   }
   &__label {
      display: block;
      width: 25px;
      height: 5px;
      border-radius: 5px;
      background-color: #837f7f;
      &:checked {
         background-color: rgb(68, 67, 67);
      }
      &:hover {
         background-color: rgb(68, 67, 67);
      }
   }

   &__input-1 {
      margin-left: 0%;
   }

   &__input-2 {
      &:checked ~ .slider__images {
         margin-left: -100%;
      }
   }

   &__input-3 {
      &:checked + .slider__images {
         margin-left: -200%;
      }
   }
}

/*==================================================*/

.how-it-work {
   &__cards {
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;
      margin: 0 -15px 10.811%;
   }

   &__card {
      flex: 0 1 25%;
      padding: 0 15px;
      @media (max-width: 1001px) {
         flex: 0 1 50%;
      }
      @media (max-width: 501px) {
         flex: 1 1 100%;
      }
   }

   &__content {
      padding: 24px 24px 42px;
      background: #252525;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      height: 100%;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      @media (max-width: 1000px) {
         padding: 24px 24px 32px;
      }
      &:hover {
         background: #34c759;
         box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }
      &:hover .how-it-work__title {
         color: #191919;
      }
      &:hover .how-it-work__line {
         background-color: #191919;
         width: 40%;
      }
      &:hover .how-it-work__text {
         color: #191919;
      }
   }

   &__title {
      font-size: calc(18px + 4 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.18;
      letter-spacing: -0.275px;
      margin: 0px 0px 10px 0px;
      text-transform: capitalize;
      transition: 0.3s;
      @media (min-width: 1440px) {
         font-size: 22px;
      }
   }

   &__line {
      height: 2px;
      background: #34c759;
      width: 27%;
      margin: 0px 0px 24px 0px;
      transition: 0.3s;
   }

   &__text {
      font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.162px;
      color: rgba(255, 255, 255, 0.5);
      flex: 1 1 100%;
      transition: 0.3s;
      @media (min-width: 1440px) {
         font-size: 13px;
      }
   }
}
.header-bloks {
   text-align: center;

   &__backtitle {
      font-size: calc(60px + 40 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 900;
      letter-spacing: 0.2em;
      color: #303030;
      position: relative;
      text-transform: uppercase;
      padding: 0px 0px 26px 0px;
      margin: 0px 0px 5.406% 0px;
      &::before {
         position: absolute;
         content: "";
         width: 60px;
         height: 2px;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         background: #34c759;
      }
   }

   &__title {
      width: 100%;
      position: absolute;
      top: 36%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      font-size: calc(17px + 19 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      letter-spacing: 0.2em;
      color: #d9d9d9;
      text-transform: capitalize;
      @media (max-width: 623px) {
         line-height: 1.1;
      }
      @media (min-width: 1440px) {
         font-size: 36px;
      }
   }
}

/*=================================================================*/
.dish {
   &__cards {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 8.109%;
      row-gap: 30px;
   }

   &__card {
      flex: 1 1 33.33%;
      padding: 0 15px;
      transition: all 0.3s ease 0s;
      @media (min-width: 835px) {
         flex: 0 1 33.33%;
      }
      @media (max-width: 835px) {
         flex: 0 1 50%;
      }
      @media (max-width: 515.98px) {
         flex: 1 1 50%;
      }
   }
}
.card-dish {
   &__content {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      overflow: hidden;
      background: #252525;
      display: flex;
      flex-direction: column;
      height: 100%;
   }
   &__img-link {
      overflow: hidden;
      position: relative;
      &:hover .card-dish__pictyre {
         transform: scale(1.05);
      }
   }

   &__img-arrow {
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 3;
      background: #3030305b url(../img/dish/arrow.svg) no-repeat center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      &:hover {
         background: #303030a2 url(../img/dish/arrow.svg) no-repeat center;
      }
   }

   &__pictyre {
      @extend %ibg;
      padding: 0px 0px 74.28% 0px;
      transition: all 0.3s ease 0s;
   }
   &__body {
      flex: 1 1 auto;
      padding: 29px 30px;
      display: flex;
      flex-direction: column;
   }
   &__title {
      font-size: calc(24px + 8 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 0.93;
      color: #d9d9d9;
      @media (max-width) {
      }
   }
   &__subtitle {
      font-size: calc(10px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.333;
      letter-spacing: -0.15px;
      color: #a4a8b2;
      margin: 0px 0px 20px 0px;
   }
   &__text {
      flex: 1 1 auto;
      font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-style: normal;
      font-weight: 400;
      line-height: 1.384;
      letter-spacing: -0.162px;
      color: #85878c;
      margin: 0px 0px 9.1175% 0px;
   }
}

.star-rating {
   &__form {
      display: flex;
      align-items: center;
   }
   &__body {
      position: relative;
      display: inline-block;
      //24
      font-size: calc(16px + 8 * ((100vw - 320px) / (1440 - 320)));
      color: #4d4d4d;
      margin: 0px 10px 0px 0px;
      @media (min-width: 1440px) {
         font-size: 24px;
      }
      &::before {
         display: block;
         content: "★★★★★";
      }
   }

   &__items {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
   }

   &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      &:checked ~ .star-rating__label {
         color: #f9ad3d;
      }
   }

   &__label {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      color: hsla(0, 0%, 30%, 1);
      &::before {
         content: "★";
         display: block;
         transition: color 0.3s;
      }
      &:hover,
      &:hover ~ &,
      &:checked ~ &:hover {
         color: #e9b567;
      }
   }

   &__digith {
      font-size: calc(10px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 900;
      line-height: 2.5;
      letter-spacing: 1.5px;
      margin: 0px 5px 0px 0px;
      @media (min-width: 1440px) {
         font-size: 12px;
      }
   }
   &__button {
      cursor: pointer;
      transition: 0.3s;
      background: #262626;
      border: 2px solid #303030;
      border-radius: 30px;
      font-size: calc(6px + 4 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 900;
      line-height: 4;
      letter-spacing: 0.2em;
      text-align: center;
      padding: 0 32px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      margin: 0px 0px 0px auto;
      @media (min-width: 1440px) {
         font-size: 10px;
      }
      @media (max-width: 1055px) {
         padding: 0 28px;
      }
      @media (max-width: 971px) {
         padding: 0 25px;
      }
      @media (max-width: 933px) {
         padding: 0 15px;
      }
      &:hover {
         border: 2px solid transparent;
         background: #34c759;
         color: #252525;
      }
   }
}

//========================================================================
.recipes {
   &__inner {
      display: flex;
      row-gap: 30px;
      margin: 0px 0px 5% 0px;
      @media (max-width: 955px) {
         flex-direction: column;
      }
   }

   &__big-item {
   }

   .big-item {
      flex: 0 1 100%;
      color: #ffffff;
      background: url(../img/recipes/background.jpg) center no-repeat;
      background-size: cover;
      padding: 5.407% 8.15%;
      max-width: 540px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      @media (max-width: 955px) {
         max-width: 100%;
      }
      @media (max-width: 550px) {
         padding: 22px 8.15%;
      }
      &__title {
         margin: 0 auto 65px;
         & p {
            display: inline-block;
            padding: 0 16.5px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 10px;
            font-weight: 900;
            line-height: 2.5;
            letter-spacing: 1.25px;
            text-align: center;
            text-transform: uppercase;
         }
         @media (max-width: 700px) {
            margin: 0px auto 11% auto;
         }
      }

      &__date {
         font-size: calc(10px + 4 * ((100vw - 320px) / (1440 - 320)));
         font-weight: 400;
         line-height: 2.14;
         letter-spacing: 0px;
         text-align: center;
         margin: 0px 0px 25px 0px;
         @media (min-width: 1440px) {
            font-size: 14px;
         }
      }

      &__text {
         flex: 1 1;
         font-size: calc(16px + 8 * ((100vw - 320px) / (1440 - 320)));
         font-weight: 400;
         line-height: 1.666;
         letter-spacing: 0px;
         text-align: center;
         margin: 0px auto 45px auto;
         @media (max-width: 700px) {
            margin: 0px 0px 8% 0px;
         }
         @media (min-width: 1440px) {
            font-size: 24px;
         }
      }

      &__name {
         font-size: 14px;
         font-size: calc(11px + 3 * ((100vw - 320px) / (1440 - 320)));
         font-weight: 400;
         line-height: 2.14;
         letter-spacing: 0px;
         text-align: center;
         margin: 0px 0px 60px 0px;
         @media (min-width: 1440px) {
            font-size: 14px;
         }
         @media (max-width: 700px) {
            margin: 0px 0px 10.5% 0px;
         }
      }

      &__icons {
         justify-content: center;
      }
   }

   &__items {
      padding: 0px 0px 0px 30px;
      display: flex;
      flex-direction: column;

      @media (max-width: 955px) {
         padding: 0px 0px 0px 0px;
      }
   }
   &__item {
      flex: 1 1;
      padding: 30px 30px 20px;
      background: #252525;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      transition: all 0.4s ease 0s;
      &:hover {
         background: #34c759;
         color: #000;
      }
      &:hover .recipes-icons a {
         color: #000;
      }
      &:hover .recipes-icons__icon-watch::before {
         background: url(../img/recipes/ic_remove_red-black_eye.svg) 100% no-repeat;
         background-size: cover;
      }
      &:hover .recipes-icons__icon-comments::before {
         background: url(../img/recipes/ic_question_answer-black.svg) 100% no-repeat;
         background-size: cover;
      }
      &:nth-child(2) {
         background: url(../img/recipes/background-2.jpg) no-repeat;
         background-size: cover;
      }
      &:nth-child(2):hover {
         background: #34c759;
      }
      @media (max-width: 955px) {
         width: 100%;
      }
      &:not(:last-child) {
         margin: 0px auto 30px auto;
      }
      &:last-child {
         margin: 0px auto 0px auto;
      }
   }

   &__text {
      flex: 1 1;
   }

   &__text p {
      font-size: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 1.875;
      margin: 0px 0px 10px 0px;
      transition: all 0.3s ease 0s;
      @media (min-width: 1440px) {
         font-size: 16px;
      }
   }
   &__footer {
      display: flex;
      justify-content: space-between;
   }
   &__info {
      display: flex;
   }

   &__time p {
      font-size: calc(8px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 900;
      line-height: 2.08;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      padding: 2px 12px;
      color: #fff;
      background-color: #000;
      border-radius: 5px;
      margin: 0px 15px 0px 0px;
      transition: all 0.4s ease 0s;
      @media (min-width: 1440px) {
         font-size: 10px;
      }
   }

   &__date {
      font-size: calc(9px + 3 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      line-height: 2.08;
      letter-spacing: 0px;
      transition: all 0.3s ease 0s;
      @media (min-width: 1440px) {
         font-size: 12px;
      }
   }
   .recipes-icons {
      & a {
         color: #fff;
      }
      display: flex;
      &__icon-watch {
         margin: 0px 24px 0px 0px;
         font-size: calc(9px + 3 * ((100vw - 320px) / (1440 - 320)));
         font-weight: 700;
         line-height: 2.5;
         letter-spacing: 0px;
         position: relative;
         padding: 0px 0px 0px 36px;
         transition: all 0.3s ease 0s;
         &:hover {
            transform: scale(1.1);
         }
         &::before {
            content: "";
            position: absolute;
            width: 22px;
            height: 15px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: url(../img/recipes/ic_remove_red_eye.svg) 100% no-repeat;
            background-size: cover;
         }
         @media (min-width: 570px) {
            padding: 0px 0px 0px 28px;
         }
         @media (max-width: 570px) {
            padding: 0px 0px 0px 28px;
         }
         @media (max-width: 400px) {
            margin: 0px 18px 0px 0px;
         }
         @media (max-width: 750px) {
            &::before {
               width: 17px;
               height: 12px;
            }
         }
      }

      &__icon-comments {
         font-size: calc(9px + 3 * ((100vw - 320px) / (1440 - 320)));
         font-weight: 700;
         line-height: 2.5;
         letter-spacing: 0px;
         position: relative;
         padding: 0px 0px 0px 36px;
         transition: all 0.3s ease 0s;
         &:hover {
            transform: scale(1.1);
         }

         &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: url(../img/recipes/ic_question_answer.svg) 100% no-repeat;
            background-size: cover;
         }
         @media (max-width: 750px) {
            &::before {
               width: 15px;
               height: 15px;
            }
         }
         @media (max-width: 570px) {
            padding: 0px 0px 0px 28px;
         }
      }
   }
}
//++++++++++++++++++++++++++++++=============================================.footer {

.footer {
   font-size: 18px;
   font-size: calc(10px + 8 * ((100vw - 320px) / (1440 - 320)));
   padding: 20px 40px;
   line-height: 2;
   text-align: center;
   color: rgba(255, 255, 255, 0.288);
   @media (maw-width: 1440px) {
      font-size: 18px;
   }
}
